.player {
  width: 300px;
  display: flex;
  align-items: center;
  background-color: #424242;
  border-radius: 50px 0 0 50px;
  border: 2px solid black;

  span {
    margin-left: 16px;
    font-size: 32px;
    color: white;
  }
  img {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 100%;
  }
}

.player-active {
  background-color: #c2185b !important;
}
